:root {
    --blue-color:#0075ff;
    --blue-alt-color:#0d69d5;
    --orange-color:#f59e0b;
    --green-color:#22c55e;
    --red-color:#f44336;
    --gray-color:#888;
}
/* Start Box */
.d-block {
    display: block;
}
@media (max-width:767px) {
    .block-mobile {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
}
.d-grid {
    display: grid;
}
.d-flex {
    display: flex;
}
.d-inline-flex {
    display: inline-flex;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.flex-wrap {
    flex-wrap: wrap;
}
.f-grow-1 {
    flex-grow: 1;
}
@media (max-width:767px) {
    .column-mobile {
        flex-direction: column;
    }
}
.gap-20 {
    gap: 20px ;
}
/* End Box */
/* Start Padding + Margin */
.p-20 {
    padding: 20px;
}
.p-15 {
    padding: 15px;
}
.p-10 {
    padding: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-15 {
    padding-top: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-15 {
    padding-bottom: 15px;
}
.m-20 {
    margin: 20px;
}
.m-0 {
    margin: 0;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.ml-10 {
    margin-left: 10px;
}
/* End Padding + Margin */
/* Start Color */
.bg-white {
    background-color: white;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-red {
    background-color: var(--red-color);
}
.bg-eee {
    background-color: #eee;
}
.c-blue {
    color: var(--blue-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-green {
    color: var(--green-color);
}
.c-red {
    color: var(--red-color);
}
.c-black {
    color: black;
}
.c-gray {
    color: var(--gray-color);
}
.c-white {
    color: white;
}
/* End Color */
/* Start Position */
.p-rel {
    position: relative;
}
.p-abs {
    position: absolute;
}
/* End Position  */
/* Start Font  */
@media (max-width:767px) {
    .text-c-mobile {
        text-align: center;
    }
}
.text-c {
    text-align: center;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size:15px ;
}
.fs-16 {
    font-size:16px ;
}
.fs-17 {
    font-size:17px ;
}
.fs-25 {
    font-size: 25px;
}
.fw-500 {
    font-weight: 500;
}
.bold {
    font-weight: bold;
}
.fw-normal {
    font-weight: normal;
}
/* End Font */
/* Start Size  */
.w-full {
    width: 100%
}
.w-half {
    width: 50%
}
.w-fit {
    width: fit-content;
}
.h-full {
    height: 100%;
}
/* End Size  */
/* Start Border  */
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rad-circle {
    border-radius: 50%;
}
.border-1-ccc {
    border: 1px solid #ccc;
}
.border-1-eee {
    border: 1px solid #eee;
}
.border-2-eee {
    border: 2px solid #eee;
}
.border-t-1-eee {
    border-top: 1px solid #eee;
}
.border-b-1-eee {
    border-bottom: 1px solid #eee;
}
.b-none {
    border: none;
}
/* End Border */
/* Start View */
.hide-overflow {
    overflow: hidden;
}
/* End View */
/* Start Component */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
.box-shadow {
    -moz-box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    -webkit-box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
/* End Component */

